/* All Body */


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Header */

#header-background-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.top-image-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.logo-image img {
    width: 170px;
    height: 40px;
}

.login-btn button {
    border: 2px solid white;
    padding: 10px 25px;
    font-size: 1rem;
    background: transparent;
    border-radius: 21px;
    color: #fff;
    cursor: pointer;
}

.header-box {
    font-family: sans-serif;
    text-align: center;
    margin-top: 200px;
}

.header-box h1 {
    color: white;
    font-size: 3rem;
}

.header-box p {
    font-size: 1.1rem;
    color: white;
    margin: 20px 0px;
}

.header-box input {
    outline: none;
    border-radius: 21px;
    width: 500px;
    border: none;
    padding: 11px 14px;
    font-size: 1rem;
    font-weight: 400;
}

.header-box button {
    background-image: linear-gradient(#00ff7e, #1f3d90);
    border: none;
    font-size: 1rem;
    padding: 8.5px 20px;
    border-radius: 21px;
    margin-left: -98px;
    color: white;
    cursor: pointer;
}



/* Destination Place */


.destination-place {
    margin-bottom: 100px;
}

.destination-place h1 {
    text-align: center;
    font-family: cursive;
    font-size: 2.5rem;
    margin: 40px 0px;
}

.place-photo {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}

.place {
    width: 33%;
    margin: 12px;
    position: relative;
    box-shadow: 0px 0px 7px 6px lightgrey;
}

.place-img img {
    width: 370px;
    height: 290px;
}

.circle {
    background-color: #ff5722;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin: -30px 0px 0px 22px;
    position: absolute;
}

.circle p {
    padding-top: 12px;
    color: white;
}

.star {
    color: #ff5722;
    position: absolute;
    padding: 5px 5px 0px 5px;
    right: 0%;
    margin-top: -29px;
    background-color: #fff;
}

.place-about {
    width: 85%;
    margin: auto;
    padding-bottom: 15px;
    font-family: sans-serif;
}

.place-about h2 {
    font-weight: 200;
    margin: 30px 0px 10px 0px;
}

.place-about p {
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #212529;
    font-weight: 100;
    margin-bottom: 12px;
}

.place-about span i {
    color: #ff5722;
}

/* Travel Gallery */

.travel-place,
.travel {
    background-color: #efefef;
}

.travel {
    padding-bottom: 100px;
}

.travel-place h1 {
    font-size: 3rem;
    font-family: cursive;
    margin: 40px 0px;
    text-align: center;
}


.travel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.travel-image {
    position: relative;
}

.travel-image img {
    width: 260px;
    height: 180px;
    margin: 10px;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.444);
}


.place-name {
    height: 120px;
    width: 200px;
    position: absolute;
    top: 0%;
    margin: 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.519);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.place-name:hover {
    opacity: 1;
}


.place-name p {
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 30px;
}

/* discount offer */

.offer {
    background-image: url(images//banner2.jpg);
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.offer-bg {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 170px;
    display: flex;
    justify-content: space-evenly;
}

.about-offer {
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 55px;
}

.about-offer h1 {
    font-size: 2rem;
}

.book-btn button {
    border: 2px solid white;
    padding: 12px 24px;
    margin-top: 62px;
    background: transparent;
    color: white;
    border-radius: 21px;
    cursor: pointer;
}

.reviews {
    padding-bottom: 200px;
}

.reviews h1 {
    text-align: center;
    font-family: cursive;
    font-size: 2.5rem;
    margin: 100px 0px 40px 0px;
}

.users {
    width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-reviews {
    width: 30%;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 3px lightgrey;
    font-family: sans-serif;
}

.about-reviews {
    width: 90%;
    margin: 40px auto;
}

.user-reviews p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.user-reviews h2 {
    margin: 30px 0px -10px 0px;
    font-weight: 300;
    font-size: 1.3rem;
}

.user-reviews span {
    font-size: 0.8rem;
}

.user-photo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: -30px 0px 0px -35px;
    position: absolute;
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 10px 3px lightgrey;
}


#bg-color {
    background-image: linear-gradient(#2d557d, #9610fb);
    width: 100vw;
    padding: 60px 0px 20px 0px;
}


.first-side {
    display: inline-block;
    width: 50%;
}


.about-footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-first-side {
    width: 50%;
    font-family: sans-serif;
}

.about-first-side img {
    width: 150px;
    height: 40px;
}

.about-first-side p {
    font-size: 0.7rem;
    color: white;
    line-height: 1.5rem;
    text-align: justify;
}


.about-second-side {
    width: 20%;
    font-family: sans-serif;
    color: white;
}

.about-second-side h2 {
    padding: 5px 0px;

}

.about-second-side p {
    font-size: 0.7rem;
    line-height: 2rem;

}

.second-side {
    display: inline-block;
    width: 45%;
}

.contact-footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-side-first {
    color: white;
    font-family: sans-serif;
}

.contact-side-first i {
    padding: 13px 17px 0px 5px;
}

.contact-side-first p {
    font-size: 0.7rem;
    line-height: 2rem;
}

.contact-side-second {
    color: #fff;
    font-family: sans-serif;
}

.contact-side-second i {
    padding: 13px 17px 0px 5px;
}

.contact-side-second p {
    font-size: 0.7rem;
    line-height: 2rem;
}


#bottom-line {
    width: 90%;
    margin: 20px auto 10px auto;
}

.my-youtube {
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    font-family: sans-serif;
}


.my-youtube i {
    color: #f44336;
}



@media screen and (max-width:1200px) {
    .top-image-container {
        width: 80%;
    }

    .place-about p {
        font-size: 0.95rem;
        line-height: 1.4rem;
    }

    .place-about span {
        font-size: 0.9rem
    }
}

@media screen and (max-width:990px) {
    .top-image-container {
        width: 70%;
    }

    .place-about p {
        font-size: 0.9rem;
    }

    .place-about span {
        font-size: 0.8rem;
    }

    .complete-footer {
        display: flex;
        flex-direction: column;
    }

    .about-footer {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    .first-side {
        width: 80%;
        margin: 0px auto 40px auto;
    }

    .about-first-side {
        width: 40%;
        text-align: left;
    }

    .about-second-side {
        width: 50%;
        text-align: right;
    }

    .second-side {
        width: 80%;
        margin: 0px auto 40px auto;
    }

    .contact-footer {
        justify-content: space-between;
    }


    .contact-side-first {
        text-align: left;
    }

    .contact-side-second {
        text-align: right;
    }

}


@media screen and (max-width:885px) {

    .place {
        width: 80%;
        margin: 20px auto;
    }

    .place-img img {
        width: 100%;
        height: 300px;
    }

    .place-photo {
        width: 90%;
        flex-direction: column;
    }

}

@media screen and (max-width:750px) {



    .about-reviews p {
        font-size: 0.9rem;
    }

    .about-reviews h2 {
        font-size: 1.1rem;
    }

    .about-reviews span {
        font-size: 0.8rem;
    }

    .users {
        width: 80%;
        flex-direction: column;
    }

    .user-reviews {
        width: 95%;
        margin: 40px 20px;
    }

}

@media screen and (max-width:600px) {

    .header-box input {
        display: none;
    }

    .header-box button {
        display: none;
    }

    .user-reviews {
        width: 80%;
        margin: 40px 40px;
    }

    .offer-bg {
        flex-direction: column;
    }

    .about-offer {
        width: 100%;
        padding-top: 40px;
    }

    .book-btn {
        width: 100%;
        text-align: center;
    }

    .book-btn button {
        margin-top: 10px;
    }

}


@media screen and (max-width:450px) {
    .top-image-container {
        width: 100%;
    }

    .header-box h1 {
        font-size: 2rem;

    }

    .login-btn {
        margin-top: -3px;
    }

    .about-footer {
        flex-direction: column;
    }

    .about-first-side {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .about-second-side {
        text-align: center;
        width: 100%;
    }


    .contact-footer {
        flex-direction: column;
    }


    .contact-side-first {
        text-align: center;
        margin-bottom: 20px;

    }

    .contact-side-second {
        text-align: center;
    }

    .offer-bg {
        margin-top: 300px;
        height: 300px;
    }

}


@media screen and (max-width:350px) {
    .header-box h1 {
        font-size: 1.5rem;
    }

    .header-box p {
        font-size: 1rem;
    }

}
